<ion-header>
    <ion-toolbar>
      <ion-title>Forgot Password</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <img alt="AJCOMM" src="http://api.ajcomm.id/resources/images/banners/ajtour.png" />
      <ion-card-content>
          <h3>Silahkan masukan email anda</h3>
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-label position="stacked">Email <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required type="text" [(ngModel)]="email"></ion-input>
            </ion-item>
          </ion-list>
  
          <div class="ion-padding">
            <ion-row>
              <ion-col size="12">
                <ion-button color="dark" fill="outline" expand="block" (click)="doReset()" class="ion-no-margin">Reset Password
                </ion-button>
              </ion-col>
            </ion-row>
          </div>
      </ion-card-content>
    </ion-card>
  </ion-content>