

<ion-item-group>
  <ion-item-divider>
    <ion-label>Options</ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label>Histories</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Setting</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Balance</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Update Password</ion-label>
  </ion-item>
  <ion-item (click)="doLogout()">
    <ion-label>Logout</ion-label>
    <ion-icon name="log-out-outline"></ion-icon>
  </ion-item>
</ion-item-group>