<ion-content>
    <ion-list>
        <ion-item>
            <ion-label position="floating">Asal</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Tujuan</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-button color="dark" fill="outline">Start
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>