<ion-header translucent>
    <ion-toolbar>
        <ion-searchbar (change)="searchMember()" [(ngModel)]="key"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list *ngIf="members.length > 0">
        <ion-item *ngFor="let member of members" (click)="addMember(member.id)">
            <ion-avatar slot="start">
                <img src="{{member.path_image}}" alt="{{member.name}}">
            </ion-avatar>
            <ion-label>
                <h3>{{member.name}}</h3>
                <p>{{member.email}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>