<ion-header translucent>
    <ion-toolbar>
        <ion-searchbar (change)="searchMember()" [(ngModel)]="key"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list *ngIf="member.id">
        <ion-item>
            <ion-avatar slot="start">
                <img alt="{{member.name}}" src="{{member.path_image}}">
            </ion-avatar>
            <ion-label>
                <h3>{{member.name}}</h3>
                <p>{{member.email}}</p>
            </ion-label>
            <ion-button (click)="addMember(member.email)">
                <ion-icon name="person-add-outline"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>