<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="dark" size="small" (click)="doPostStory()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <!-- Custom Refresher Content -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card *ngFor="let data of stories">
        <ion-card-header>
            <ion-card-subtitle>{{user.name}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <img src="{{data.resource}}">
            <ion-card-subtitle>{{data.content}}</ion-card-subtitle>
        </ion-card-content>
    </ion-card>
</ion-content>