<ion-content>
    <!-- Custom Refresher Content -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-item>
        <ion-grid>
            <ion-row>
                <ion-col size="4" style="align-items: center;">
                    <ion-avatar class="ion-margin-start">
                        <img alt="{{profile.name}}" src="{{profile.path_image}}">
                    </ion-avatar>
                </ion-col>
                <ion-col size="8" style="text-align: center;">
                    <ion-row>
                        <ion-col (click)="showFollower(profile.id)" size="4">
                            <b>{{follower.length}}</b><br>
                            <p>Follower</p>
                        </ion-col>
                        <ion-col (click)="showFollowing(profile.id)" size="4">
                            <b>{{following.length}}</b><br>
                            <p>Following</p>
                        </ion-col>
                        <ion-col (click)="showGroups(profile.id)" size="4">
                            <b>{{groups.length}}</b><br>
                            <p>Group</p>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <p>{{profile.name}}</p>
                    <p>{{profile.quote}}</p>
                </ion-col>
            </ion-row>
            <hr>
            <ion-row style="text-align: center;">
                <ion-col size="4">
                    <ion-button (click)="doInvite(profile.email)" expand="block" color="dark" fill="outline">
                        <ion-label>Invite</ion-label>
                    </ion-button>
                </ion-col>
                <ion-col size="4">
                    <ion-button (click)="doFollow(profile.id)" expand="block" color="dark" fill="outline">
                        <ion-label>Follow</ion-label>
                    </ion-button>
                </ion-col>
                <ion-col size="4">
                    <ion-button (click)="doContact()" expand="block" color="dark" fill="outline">
                        <ion-label>Contact</ion-label>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-segment (ionChange)="showStory($event)">
                    <ion-segment-button value="0">
                        <ion-label>
                            <ion-icon name="film-outline"></ion-icon>
                        </ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="1">
                        <ion-label>
                            <ion-icon name="grid-outline"></ion-icon>
                        </ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="storyStatus == 1">
            <ion-col *ngFor="let list of stories" size="4">
                <img (click)="toStory(list.id)" src="{{list.resource}}">
            </ion-col>
        </ion-row>
        <ion-row *ngIf="storyStatus == 0">
            <ion-col size="12" *ngFor="let data of stories">
                <img class="image-story" alt="{{data.title}}" src="{{data.resource_original}}">
                <ion-grid>
                    <ion-row>
                        <ion-col size="6" style="text-align: center;">
                            <ion-button (click)="doLike(data.id)" size="small" color="dark" fill="clear">
                                <ion-icon name="thumbs-up-outline"></ion-icon>
                            </ion-button>
                            <ion-button (click)="showComment(data.id)" size="small" color="dark" fill="clear">
                                <ion-icon name="chatbox-outline"></ion-icon>
                            </ion-button>
                            <ion-button size="small" color="dark" fill="clear">
                                <ion-icon name="share-social-outline"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col size="6" style="text-align: end;">
                            <ion-button size="small" color="dark" fill="clear">
                                <ion-icon name="copy-outline"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ion-card-subtitle>{{data.likers.length}} like</ion-card-subtitle>
                        </ion-col>
                    </ion-row>
                    <hr>
                    <ion-row>
                        <ion-col size="12">
                            <ion-card-subtitle>{{data.title}}</ion-card-subtitle>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ion-card-subtitle>{{data.content}}</ion-card-subtitle>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="10">
                            <ion-input clearInput [(ngModel)]="comment" placeholder="comment .."></ion-input>
                        </ion-col>
                        <ion-col size="2">
                            <ion-button (click)="doComment(data.id)" size="small" color="dark" fill="clear">
                                <ion-icon name="paper-plane-outline"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                    <hr>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>