<ion-content>
    <ion-header translucent>
        <ion-toolbar>
          <ion-title>Modal Content</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="close()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content fullscreen>
        <ion-list>
          <ion-item *ngFor="let mygroup of mygroups">
            <ion-avatar slot="start" (click)="invite(mygroup.id)">
              <img alt="{{mygroup.group_name}}" src="{{mygroup.group_logo}}">
            </ion-avatar>
            <ion-label>
              <h2>{{mygroup.group_name}}</h2>
              <p>{{mygroup.group_desc}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
</ion-content>