<ion-content>
    <!-- Custom Refresher Content -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Ads</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-slides>
                <ion-slide *ngFor="let list of ads">
                    <div class="slide">
                        <img src="{{list.image}}" />
                        <h2>{{list.title}}</h2>
                        <p>{{list.desc}}</p>
                    </div>
                </ion-slide>
            </ion-slides>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-list>
                <ion-list-header>
                    Groups
                </ion-list-header>

                <ion-item *ngFor="let data of groups">
                    <ion-avatar slot="start">
                        <img src="{{data.group_logo}}">
                    </ion-avatar>
                    <ion-label>
                        <h2 (click)="showDetail(data.id)">{{data.group_name}}</h2>
                        <p>{{data.group_desc}}</p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="light">
            <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button color="light">
                <ion-icon name="earth-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light">
                <ion-icon name="partly-sunny-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="createGroup()" color="light">
                <ion-icon name="people-circle-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>