<ion-content>
    <ion-list>
        <ion-list-header>
            Groups
        </ion-list-header>

        <ion-item *ngFor="let data of groups">
            <ion-avatar slot="start">
                <img src="{{data.group_logo}}">
            </ion-avatar>
            <ion-label>
                <h2 (click)="showDetail(data.id)">{{data.group_name}}</h2>
                <p>{{data.group_desc}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="light">
            <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button color="light">
                <ion-icon name="trail-sign-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light">
                <ion-icon name="people-circle-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light">
                <ion-icon name="people-circle-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>