<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="2">

      </ion-col>
      <ion-col size="8" style="text-align: center;">
        <ion-toolbar>
          <ion-title>Registrasi</ion-title>
        </ion-toolbar>
      </ion-col>
      <ion-col size="2">

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<div style="text-align: center;">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img style="width: 50%;" src="http://api.ajcomm.id/resources/images/banners/ajcomm.png" />
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked">Email <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Phone <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text" [(ngModel)]="phone"></ion-input>
        </ion-item>

        <!-- <ion-item>
          <ion-label position="stacked">Password <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Konfirmasi Password<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="password" [(ngModel)]="passconf"></ion-input>
        </ion-item> -->
      </ion-list>

      <div class="ion-padding">
        <ion-row>
          <ion-col size="6">
            <ion-button (click)="doRegister()" color="dark" fill="outline" expand="block" type="submit"
              class="ion-no-margin">Daftar
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button (click)="doLogin()" color="dark" fill="outline" expand="block" type="submit"
              class="ion-no-margin">Masuk
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>